<div>
  <h1>Add a recipe to <%= @category.name %></h1>
</div>
<div>
  <%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :recipe %>
  <%= f.submit %>
  <% end %>
</div>
<%= link_to "Back to #{@category.name}", category_path(@category) %>
