<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('<%= cl_image_path @category.photo.key, height: 300 %>')">
  <h1><%= @category.name %></h1>
</div>

<div class="container">
  <div class="title-top">
    <div>
      <h3>Recipes</h3>
    </div>
    <div>
      <%= link_to "Add a recipe", new_category_bookmark_path(@category),class: "btn btn-warning" %>
      <%= link_to "Delete category", categories_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@category.name}?"}, class: "btn btn-warning" %>
    </div>
  </div>

  <div class="cards">
    <% @category.bookmarks.each do |bookmark| %>
      <div class="card-recipe">
        <%= image_tag(bookmark.recipe.url) %>

      <%= link_to bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{bookmark.recipe.name} from this category?"}, class: "btn-delete" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>

        <div class="card-info">
          <div style="flex-grow: 1;">
            <h4><%= bookmark.recipe.name %></h4>
            <p><%= bookmark.recipe.description.truncate(200) %></p>
          </div>

          <div class="card-comment">
            <div>
              <i class="fa-solid fa-quote-left"></i><%= bookmark.comment.truncate_words(3) %>
            </div>
            <div>
              <%= bookmark.recipe.rating %><%= "⭐️" * bookmark.recipe.rating %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
