<div>
  <h1><%= @category.name %></h1>
</div>
<h3><%= link_to "Add a new recipe", new_category_bookmark_path(@category) %></h3>
<div>
  <ul>
  <% @category.bookmarks.each do |bookmark| %>
    <li>
      <%= "#{bookmark.recipe.name} | " %>
      <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this bookmark for ?"} %>
    </li>
  <% end %>
  </ul>
  <p><%= link_to "Back to categories", categories_path %></p>
</div>
